


/* Dashboard nav */
#v-pills-tab{
  height: 100vh;
  width: 15%;
}

/* Dashboard */
#dashboardBody {
  height: 100vh;
}
#v-pills-tabContent{
  width: 85%;
}

/* Appointments */
#appointmentList {
  border: 1px solid lightgray;
  border-radius: 5px;
}
#flexCheckDefault{
  margin-left: 5px;
}