


/* Dashboard nav */
#v-pills-tab{
  height: 100vh;
  width: 15%;
}
#drNav2 {
  display: none !important;
}

#resTab {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:900px) {
  #v-pills-tab {
      flex-direction: row !important;
      height: 90px !important;
      /* width: 100% !important; */
      min-width: fit-content !important;
      width: 100%;
      overflow-x: scroll;
  }
  #v-pills-tabContent{
    width: 100% !important;
  }
  #genNav{
    margin-top: 10px !important;
    width: 100% !important;
  }

 #dashnav{
   flex-direction: column !important;
   width: 100% !important;
 }
 /* #toggle{
   display: inherit !important;
 } */

 #drNav{
  margin-top: 10px !important;
  width: 100% !important;
  display: none !important;
 }
 #drNav2 {
  margin-top: 10px !important;
  width: 15% !important;
  display: inherit !important;
  /* position: absolute; */
  /* z-index: 2; */
  /* top: 0; */
  /* left: 0; */

 }
 
}

@media (max-width:400) {
  #drNav2 {
    margin-top: 10px !important;
    width: 10% !important;
    display: inherit !important;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
  
   }
   #navDiv {
     width: 85% !important;
   }
   #resTab{
     width: 50px !important;
     text-align: center !important;
     padding: 0 !important;
     margin: 0 !important;
   }
   #vertical-tab-0{
    padding: 0 !important;
    margin: 0 !important;
   }
}

/* Dashboard */
#dashboardBody {
  height: 100vh;
}
#v-pills-tabContent{
  width: 85%;
}
@media (max-width:900px) {
  #dashBody{
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #dashCon {
    width: 80% !important;
  }
}

/* Appointments */
#appointmentList {
  border: 1px solid lightgray;
  border-radius: 5px;
}
#flexCheckDefault{
  margin-left: 5px;
}

@media (max-width:900px) {
  #appointDiv{
    flex-direction: column !important;
  }
  #appointSubDiv{
    width: 100% !important;
  }
}

/* Profile */
@media (max-width:900px) {
 #mainProfile{
   flex-direction: column !important;
   overflow-y: scroll !important;
 } 
 #subProfile1 {
   width: 100% !important;
   height: 50% !important;
 }
 #subProfile2 {
   width: 100% !important;
   height: 50% !important;
 }
}

/* Admin Dashboard */
@media (max-width:900px) {
  #adminNav{
    margin-top: 10px !important;
    width: 100% !important;
  }
}