


/* Dashboard nav */
#v-pills-tab{
  height: 100vh;
  width: 15%;
}

@media (max-width:700px) {
  #v-pills-tab {
      flex-direction: row !important;
      height: 70px !important;
      /* width: 100% !important; */
      min-width: fit-content !important;
  }
  #v-pills-tabContent{
    width: 100% !important;
  }
  #genNav{
    width: 100% !important;
  }

 #dashnav{
   flex-direction: column !important;
   width: 100% !important;
 }
}

/* Dashboard */
#dashboardBody {
  height: 100vh;
}
#v-pills-tabContent{
  width: 85%;
}

/* Appointments */
#appointmentList {
  border: 1px solid lightgray;
  border-radius: 5px;
}
#flexCheckDefault{
  margin-left: 5px;
}